<header class="border-b border-b-slate-600 bg-gray-900/50">
  <nav class="container mx-auto p-6">
    <div
      class="flex flex-col items-center justify-between space-y-5 md:flex-row md:space-y-0"
    >
      <!-- Logo -->
      <div class="">
        <img src="img/Rechner-Icon.png" alt="" class="h-20" />
      </div>
      <!-- Links -->
      <div
        class="mx-auto hidden items-center space-x-6 text-lg font-bold uppercase md:flex"
      >
        <a href="/" class="text-white hover:text-gray-300">Home</a>
        <a
          href="https://github.com/glifede/durchschnittsrechner"
          class="text-white hover:text-gray-300">Github</a
        >
        <a href="/changelog" class="text-white hover:text-gray-300">Changelog</a
        >
      </div>
      <!-- Button -->
      <a
        href="https://www.github.com/glifede/durchschnittsrechner/releases/latest/download/durchschnittsrechner.exe"
      >
        <div class="">
          <button
            class="mx-auto rounded-full bg-white px-4 py-2 transition hover:bg-gray-300"
          >
            <div class="flex flex-row items-center justify-center space-x-3">
              <span class="font-semibold dark:text-slate-900">DOWNLOAD</span>
              <span
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6 text-gray-900"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
                  ></path>
                </svg>
              </span>
            </div>
          </button>
        </div>
      </a>
    </div>
  </nav>
</header>
