---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Impressum">
  <!-- Container -->
  <section id="Impressum">
    <div
      class="container mx-auto mt-10 space-y-2 p-6 pb-3 md:space-y-0 xl:flex-row"
    >
      <h1
        class="bg-gradient-to-r from-purple-500 to-pink-500 dark:from-gradiant-cyan dark:to-gradiant-purple bg-clip-text pb-5 text-4xl font-bold text-transparent md:text-5xl"
      >
        Impressum
      </h1>
      <h2 id="m46">Diensteanbieter</h2>
      <p>Rafael Wickberg</p>
      <p>Im Brand 11</p>
      <p>72213 Überberg</p>
      <p>Deutschland</p>
    </div>
  </section>
  <section id="Kontaktmöglichkeiten">
    <div
      class="container mx-auto mt-10 space-y-2 p-6 pb-3 md:space-y-0 xl:flex-row"
    >
      <h2
        class="bg-gradient-to-r from-purple-500 to-pink-500 dark:from-gradiant-cyan dark:to-gradiant-purple bg-clip-text pb-3 text-4xl font-bold text-transparent md:text-5xl"
        id="m56"
      >
        Kontaktmöglichkeiten
      </h2>
      E-Mail-Adresse:
      <p>
        <a href="mailto:rafael36548@gmail.com" class="text-sky-500"
          >rafael36548@gmail.com</a
        >
      </p>
      <p class="seal">
        <a
          href="https://datenschutz-generator.de/"
          title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="text-sky-500"
          >Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
          Schwenke</a
        >
      </p>
    </div>
  </section>
</Layout>
